@import './format.scss';
// font : 'Inter'
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

//-----
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// text formats
h1 {
    font-size: $largest;
    font-weight: $bold;
}

h2 {
    font-size: $large;
    font-weight: $bold;
}

h3 {
    font-size: $medium;
    font-weight: $regular;
    line-height: 12px;
}

h4 {
    font-size: $smallest;
    font-weight: $regular;
}

h5 {
    font-size: $tiny;
    font-weight: $regular;
}

.bold {
    font-weight: $bold;
}

// color formats
.primaryColor {
    color: $primaryColor;
}

// alignments
.center {
    text-align: center;
}

.centerAlign {
    @extend %flexCenterColumn;
}

.topAlign {
    @extend %flexStartColumn;
}

//cursor pointer
.pointer {
    cursor: pointer;
}

//button styles
.btnType1 {
    width: 100%;
    height: 26px;
    outline: none;
    border: 1px solid $secondaryColor;
    background-color: $bgColor;
    @extend %flexCenter;
    gap: 5px;
    border-radius: 7px;
    padding: 10px;
    font-weight: $bold;
    cursor: pointer;
}

.btnType1:active {
    transform: scale(99%);
}

.btnType2 {
    width: 100%;
    height: 26px;
    border: none;
    outline: none;
    background-color: $primaryColor;
    color: $bgColor;
    @extend %flexCenter;
    gap: 5px;
    border-radius: 7px;
    padding: 10px;
    font-size: $smallest;
    font-weight: $bold;
    cursor: pointer;
}

.btnType2:active {
    transform: scale(99%);
}

// icon styles
.icon {
    width: 12px;
    height: 12px;
}

// margins
.mb5 {
    margin-bottom: 5px;
}

.my5 {
    margin: 5px 0;
}

.my10 {
    margin: 10px 0;
}

// hyperlinks style
a {
    text-decoration: none;
    color: $secondaryColor;
}

// form and from elements styles
form {
    width: 100%;
    padding: 0;
    margin: 0;
    @extend %flexCenterColumn;
    gap: 10px;
}

label {
    font-size: $smallest;
}

input {
    width: 100%;
    @extend %flexCenter;
    font-size: $small;
    font-weight: $regular;
    border: none;
    outline: none;
    padding-left: 5px;
    height: 100%;
}

//input placeholder style
::placeholder {
    font-style: italic;
    font-size: $smallest;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-size: $smallest;
}

.placeholderCenter {
    ::placeholder {
        font-style: italic;
        font-size: $smallest;
        text-align: center;
    }

    ::-webkit-input-placeholder {
        font-style: italic;
        font-size: $smallest;
        text-align: center;
    }
}

.inputSection {
    width: 100%;
    @extend %flexStartColumn;
    gap: 5px;

    div {
        @extend %flexCenter;
        width: 100%;
        height: 26px;
        padding: 5px;
        border: 1px solid $primaryColor;
        border-radius: 7px;
    }

}

// creating line
.line {
    width: 100%;
    border-bottom: 1px solid $secondaryColor;
}

// styling message
.messageBox{
    width: 100%;
    overflow-wrap: break-word;
}

//app
.app {
    font-family: 'Inter', sans-serif;
    font-weight: $regular;
    width: 100%;
    height: 100vh;
    margin: auto auto;
    @extend %flexCenter;
}

// main
.main {
    width: 190px;
    height: 412px;
    padding: 30px 10px;
    border-radius: 35px;
    gap: 20px;
}

main {
    box-shadow: 0px 0px 5px 0px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 30px;
}

header {
    @extend %flexStartColumn;
    gap: 2px;
}