@import './format.scss';

// styling message boox
.messageMain {
    width: 190px;
    height: 412px;
    padding: 30px 10px;
    border-radius: 35px;
}

.messageHeader {
    margin-bottom: 10px;
}

.split {
    display: flex;
    gap: 5px;
}

.btnType3 {
    width: max-content;
    height: 20px;
    border: none;
    outline: none;
    background-color: $primaryColor;
    color: $bgColor;
    @extend %flexCenter;
    gap: 5px;
    border-radius: 7px;
    padding: 10px;
    font-size: $smallest;
    font-weight: $bold;
    cursor: pointer;
}

.logout {
    width: max-content;
    height: 20px;
    border: none;
    outline: none;
    background-color: $primaryColor;
    color: $bgColor;
    @extend %flexCenter;
    float: right;
    gap: 5px;
    border-radius: 7px;
    padding: 10px;
    font-size: $smallest;
    font-weight: $bold;
    cursor: pointer;
}

.typeMessage {
    width: 100%;
    margin-bottom: 10px;
}

.messageInput {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 20px;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.messageBox {
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 5px;
    overflow-wrap: break-word;
    margin-bottom: 15px;

    ::-webkit-scrollbar {
        width: 0;
    }
}

.messages {
    width: 100%;
    margin-bottom: 10px;
    display: flex;

    div {
        div {
            border-radius: 5px;
            padding: 3px;
            width: max-content;
        }

        span {
            display: flex;
            gap: 5px;
            margin-left: 5px;
        }
    }
}

#myBg {
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;

    div {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        div {
            width: 100%;
            
            h3 {
                color: white;
                background-color: $primaryColor;
                border-radius: 5px;
                padding: 3px;
                width: 100%;
            }

        }
    }
}

#otherBg {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    div {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        div {
            width: 100%;
            
            h3 {
                width: 100%;
                color: white;
                background-color: #4db193;
                border-radius: 5px;
                padding: 3px;
            }
        }
    }
}